# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.pkl
*.log

# Virtual env
venv/
.env

# Django stuff
*.sqlite3
/staticfiles/
/media/

# VSCode / IDE
.vscode/
.idea/

celerybeat-schedule.dat
celerybeat-schedule.bak
celerybeat-schedule.dir

*.shopify/